{% extends "base.html" %}
{% load static %}
{% load tailwind_forms %}
{% load i18n %}

{% block title %}New team  · {{ site_title }}{% endblock %}

{% block content %}

<div class="flex items-center justify-center">

    <div class="m-4 max-w-lg w-full">
        <form action="." method="post">
        {% csrf_token %}

        <h1 class="text-2xl font-bold text-slate-800 dark:text-slate-100 mt-4 mb-4">{% translate "New Team" %}</h1>

        {% tailwind_formfield form.name %}
        {% tailwind_formfield form.visibility %}

        <div class="flex items-center gap-3 mt-2">
            <button name="action" value="invite" class="font-semibold text-sm text-slate-800 dark:text-slate-100 border border-slate-500 dark:border-slate-400 px-3.5 py-1.5 bg-slate-200 dark:bg-slate-700 hover:bg-slate-300 dark:hover:bg-slate-600 active:ring-3 rounded-md">{% translate "Save" %}</button>
            <a href="{% url "team_list" %}" class="text-sm text-slate-500 dark:text-slate-400 hover:text-slate-700 dark:hover:text-slate-300">{% translate "Cancel" %}</a>
        </div>

        </form>

    </div>
</div>

{% endblock %}
